.pageTitle {
    color: #4D9856;
    font-size: 22px;
}

/* BLOC ENTETE DETAIL TRAJET ET RESERVATION */

.travelDetailsBookingBlock {
    display: flex;
    flex-direction: row;
    background-color: #EDEDED;
    padding: 24px;
    border-radius: 15px;
    justify-content: space-between;
    margin: 20px 0px;
}

/*BLOC DETAIL TRAJET*/

.travelDetailsBlock {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
    background-color: white;
    padding: 24px;
    border-radius: 15px;
    box-sizing: border-box;

}


.locationAndTimeTravel {
    display: flex;
    flex-direction: row;
}

.timeLocationEllipse {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 8px;
}

.timeLocation {
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-width: 100px;
    max-width: 200px;
}

#ellipse {
    width: 15px;
    height: 15px;
    background-color: #4D9856;
    border-radius: 50%;
    /* Rend l'ellipse ronde */
}

.durationLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
    width: auto;
    min-width:100px;
    padding: 0px 0px 7px 0px;
    /*aligner la ligne avec le ronds verts*/
}

.travelDuration {
    color: #4D9856;
}

.line {
    width: 100%;
    /* Longueur de la ligne */
    height: 2px;
    /* Épaisseur de la ligne */
    background-color: #4D9856;
    /* Couleur de la ligne */
}

.seatsAndEco {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: end;
}

/*BLOC VALIDER RESERVATION*/

.travelValidation {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;

}

.nbPassengerCredit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
}

.participateButton {
    display: flex;
    flex-direction: row;
    background-color: #F2C674;
    border-radius: 15px;
    border: none;
    align-items: center;
    gap: 10px;
    padding: 8px;
    justify-content: center;
    cursor: pointer;
}

.imgFilterDate {
    width: 20px;
    cursor: pointer;
}

/*BLOC CHAUFFEUR/VEHICULE/PREFERANCES + AVIS CHAUFFEUR*/



.thirdBlock {
    display: flex;
    justify-content: space-between;
}



/*BLOC DETAIL TRAJET DU CHAUFFEUR*/



.driversDescriptionPreferencesBlock {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 24px;
    background-color: #EDEDED;
    border-radius: 15px;
    margin: 20px 0px;
    width: 100%;
    height: fit-content;
}

.infoDriver {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
}

.pseudoRating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.carsDescriptionAndPreferences {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.preferencesBlock {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textIcon {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-end;
}

/*BLOC AVIS DU CHAUFFEUR*/



.driverRatingBlock {
    padding: 24px;
    background-color: #EDEDED;
    border-radius: 15px;
    margin: 20px 0px 20px 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    height: fit-content;
}

.avis {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.driverRatingTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.rating {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.photoPseudoRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userPhoto {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 15px;
}

.photoPseudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.driverRating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ratingDate {
    font-size: calc(100% - 3px);
}
