/*En tête, navigation Visiteur*/


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #987B4D;
    align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 60px;
    font-size: 18px;
    align-items: center;

}

.navigation a {
    color: white;
    letter-spacing: 1px;

}

a {
    text-decoration: none;
}

.nav-btn:hover {
    color: var(--col-orange);
}

.btn.border-white:hover {
    color: var(--col-orange);
    border-color: var(--col-orange);
}

.logout-btn {
    filter: brightness(0) saturate(100%) invert(72%) sepia(50%) saturate(462%) hue-rotate(3deg) brightness(97%) contrast(86%);
    width: 40px;
    height: 40px;
}