/*main blocks*/
.userInfoAndCarpoolBlock {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 20px;
}

.userInformationsBlock {
    grid-template-columns: 1/2;
    border: green;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    border: #D9D9D9 solid 3px;
    height: fit-content;
}

.carpoolsUserBlock {
    grid-template-columns: 2/3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    background-color: #EDEDED;
    height: fit-content;
}

/**User's informations Block**/

/*header*/
.headerUserInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photoConnectedUser {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.photoPseudoRating {
    display: flex;
    align-items: center;
}

.pseudoAndRating {
    display: flex;
    flex-direction: column;
}

.mailAndCredits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

/*User Type*/

.subTitleAndContent {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
}


.subTitleGreen {
    font-size: 20px;
    color: #4D9856;
    margin: 0px;
}

.treeRadioButton {
    display: flex;
    justify-content: space-between;
}

.radioNotEdit {
    pointer-events: none;
}

.radio {
    width: 30px;
}

/* Hide native radio buttons */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    /* Bordure grise */
    border-radius: 50%;
    /* Cercle */
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

/* Style when button is selected */
input[type="radio"]:checked {
    border-color: #D9D9D9;
    /* Bordure foncée */
    background-color: #CBCBCB;
    /* Remplissage gris foncé */
}

/*Auto and preferences sections*/

.hidden {
    display: none !important;
    /* Hide sections if passenger */
}

.greyBlock {
    background-color: #EDEDED;
    border-radius: 15px;
}

.scrollable-container {
    max-height: 600px;
    overflow: auto;
    /* Scroll bar only if necessary  */
    padding: 10px;
}

.button-content {
    display: none;
    /* Hide default button */
}

.button-content.active {
    display: block;
    /* Display only if button isn't clicked  */
}

.textField {
    width: 100px;
    appearance: none;
    /* Supprime l'icône par défaut (pour Chrome, Safari, etc.) */
    -webkit-appearance: none;
    /* Spécifique pour Safari */
    -moz-appearance: textfield;
    /* Spécifique pour Firefox */
    border: 1px solid #666666;
    border-radius: 15px;
    padding: 4px;
    font-size: 15px;
}

/*carpool*/
.tabs {
    display: flex;
    gap: 10px;
    padding: 15px 0px;
}

.tab-content {
    display: none;
    /* Hide default sections */
}

.tab-content.active {
    display: block;
    /* Display only the active tab  */
}

.tabButton {
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: black;
}

.tabButton.active {
    background-color: #666666;
    color: white;
}

.active {
    display: inline-block;
}

/*Popup validate carpool*/

div.popup {
    display: none;
    background-color: #fff;
    border: 2px solid #333;
    padding: 15px;
    width: 400px;
    height: fit-content;
    position: absolute;
    align-self: anchor-center;
    justify-self: anchor-center;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

}

.popup h3 {
    margin-top: 0;
}

.popup .close-btn {
    margin-top: 15px;
}

.yesNoButton {
    border: 1.5px solid black;
    border-radius: 15px;
    padding: 5px 10px;
}

.yesNoButton:hover {
    background-color: #ccc;
}

.buttonSelected {
    background-color: #666666;
    color: #fff;
}