/*for large screens*/
@media (min-width:1025px) {
    main {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        /*centers content horizontally*/
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}

/*for small screens*/
@media (max-width:1024px) {
    main {
        margin: 10px;
    }
}


@media(max-width:767px) {
    .flex-row-wrap {
        flex-wrap: wrap;
    }

    main {
        margin: 10px;
        box-sizing: border-box;
    }
}

@media(max-width:767px) {
    html {
        font-size: calc(100% - 3px);
    }
}