:root {
    --border-radius: 15px;
    --col-light-grey: #EDEDED;
    --font-size-very-small: 12px;
    --col-green: #4D9856;
    /*for title pages, text*/
    --col-light-green: #68C990;
    /*for buttons*/
    --col-orange: #F2C674;
    /*for action's buttons*/
    --col-dark-grey: #666666;
    /*for legend's filters and selected tabs*/
    --col-very-light-green: #d6f0e0;
    /*for block hovering*/
}