.btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 5px 10px;
    border-radius: var(--border-radius);
    justify-content: center;
    border: none;
    cursor: pointer;
}

.btn:hover, .tab-btn:hover, .main-tab-btn:hover {
    filter: brightness(90%);
}

.main-tab-btn {
    width: fit-content;
    min-width: 150px;
    padding: 10px 10px;
    min-height: 30px;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: #bbc7be; 
    color: #2f6f45; 
    justify-content: center;
}

.main-tab-btn.active {
    background-color:var(--col-green); 
    color: white;
    display: flex;
    text-align: center;
}

.tab-btn {
    width: fit-content;
    min-width: 150px;
    padding: 0px 10px;
    min-height: 30px;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: white;
    color: black;
    justify-content: center;
}

.tab-btn.active {
    background-color: #666666;
    color: white;
    display: flex;
    text-align: center;
}

.active {
    display: inline-block;
}

.tabs {
    display: flex;
    gap: 12px;
    padding: 15px 0px;
}

.tab-content, .main-tab-content {
    display: none;
    /* Hide default sections */
}

.tab-content.active, .main-tab-content.active {
    display: block;
    /* Display only the active tab  */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.action-btn {
    border-radius: var(--border-radius);
    background-color: var(--col-orange);
    gap: 10px;
    cursor: pointer;
}

.border-white {
    border: 2px solid white;
}

.border-black {
    border: 2px solid black;
}

.col-back-grey-btn:hover {
    background-color: #ccc;
}


/* Hide native radio buttons */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

/* Style when button is selected */
input[type="radio"]:checked {
    border-color: #D9D9D9;
    background-color: #CBCBCB;
}

@media(max-width:767px) {
    .tabs {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
    }

    .main-tab-btn, .tab-btn {
        width:100%;
        min-width:fit-content;
        padding: 0px 10px;
    }
}